:root {
    --background: #ffffff;
    --background-variant: #f2f2f2;
    --primary-color: #1a73e8;
    --primary-variant: #1b66c9;
    --text-primary: #ffffff;
    --secondary: #f8f9fa;
    --text-secondary: #202124;
    --text-secondary-variant: #70757a;
    --border-color: #dadce0;
}

* {
    box-sizing: border-box;
    font-family: "Google Sans", "Roboto", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    background: var(--background);
}

::-webkit-scrollbar {
    width: 16px
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
    box-shadow: none;
    min-height: 50px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track:hover {
    border: none;
    background: none;
}

.button {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    text-decoration: none;
    text-transform: none;
}

.button.primary {
    background: var(--primary-color);
    border: 1px solid transparent;
    color: var(--text-primary);
}

.button.primary:hover {
    background: var(--primary-variant);
    box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
}

.mobile-only {
    display: block;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 8px;
}

nav a {
    color: var(--text-secondary-variant);
    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 48px;
    padding: 0 8px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

nav .mobile-only {
    display: flex;
    overflow-x: hidden;
}

nav .mobile-only a.active {
    color: #4285f4;
    border-bottom: 2px solid #4285f4;
}

nav .desktop-only {
    flex: 10 1 auto;
    justify-content: space-between;
}

nav .desktop-only a {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
}

nav .desktop-only a:hover {
    text-decoration: underline;
}

.empty {
    flex: 1 0 auto;
}

.left-nav,
.right-nav {
    height: 48px;
    padding: 0 4px;
    display: flex;
    align-items: center;
}

.menu-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.menu-icon:hover {
    background-color: rgba(60, 64, 67, .08);
}

.menu-icon img {
    height: 24px;
    width: 24px;
    margin-top: 8px;
    color: #5f6368;
    fill: currentColor;
}

.menu-icon:focus ~ .dropdown {
    visibility: visible;
}

.dropdown {
    position: absolute;
    top: 0;
    right: 0;
    width: 328px;
    height: 448px;
    max-height: calc(-57px + 100vh);
    z-index: 991;
    margin-top: 57px;
    margin-right: 4px;
    padding: 8px 0 8px 16px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    background: var(--background);
    transition: height 0.3s ease-in-out 0s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    visibility: hidden;
}

.dropdown-items {
    display: inline-block;
    position: relative;
    height: 84px;
    width: 84px;
    padding: 6px;
    vertical-align: top;
    list-style-type: none;
    transition: transform .2s cubic-bezier(.333,0,0,1);
    background-image: url(../assets/sprites.webp);
    background-size: 84px;
    background-position: 0 calc(var(--n) * -90.5px);
}

.dropdown-items:hover {
    border-radius: 8px;
    background-color: #e3edfe;
}

.landing-image {
    text-align: center;
    margin: 36px auto 18px;
    width: 160px;
    line-height: 0;
}

.landing-image img {
    border: none;
    aspect-ratio: auto 160 / 56;
    width: 160px;
    margin: 8px 0;
}

.search-area {
    text-align: center;
    padding: 20px;
}

.search-box {
    display: flex;
    border-radius: 20px;
    background: var(--background);
    border: 1px solid var(--border-color);
    margin-left: auto;
    margin-right: auto;
    max-width: 736px;
    overflow: hidden;
    width: auto;
}

.search-icon {
    border-radius: 20px 0 0 20px ;
    padding: 0 4px;
    padding-right: 0;
    color: #9aa0a6;
    width: 24px;
    fill: currentColor;
    margin: 0 4px;
}

.search-icon svg {
    display: block;
    height: 100%;
    width: 100%;
}

.search-field {
    display: flex;
    flex: 1;
    padding: 6px 0 6px;
}

.search-field input {
    line-height: 25px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0 0 0 19px;
    font-size: 18px;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    color: var(--text-secondary);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 1;
    width: 100%;
}

.search-buttons {
    display: flex;
    flex: 0 0 auto;
    align-items: stretch;
    margin-right: 0;
}

.search-buttons button {
    display: flex;
    flex: 1;
    color: var(--text-secondary-variant);
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    padding: 0 10px;
    padding: 0 12px;
}

.search-buttons img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.search-button {
    display: inline-block;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 20px 4px;
    padding: 4px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: var(--secondary);
    border: 1px solid var(--border-color);
    color: var(--text-secondary);
}

.desktop-only {
    display: none;
}

@media(min-width: 600px) {
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    nav .mobile-only {
        display: none;
    }

    nav .desktop-only {
        display: flex;
    }

    .landing-image {
        position: relative;
        max-height: 290px;
        min-height: 92px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        margin: 0 auto;
        width: 100%;
        height: calc(100vh - 560px);
    }

    .landing-image img {
        margin: 0;
        margin-top: auto;
        width: 100%;
        max-height: 100%;
        max-width: 100vw;
        object-fit: contain;
        object-position: center bottom;
        width: 272px;
        aspect-ratio: auto 272 / 92;
    }

    .search-box {
        padding: 6px 2px;
        height: 46px;
        max-width: 584px;
    }
}