:root {
    --background: #ffffff;
    --background-variant: #f2f2f2;
    --primary-color: #1a73e8;
    --primary-variant: #1b66c9;
    --text-primary: #ffffff;
    --secondary: #f8f9fa;
    --text-secondary: #202124;
    --text-secondary-variant: #70757a;
    --border-color: #dadce0;
}

* {
    box-sizing: border-box;
    font-family: "Google Sans", "Roboto", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    background: var(--background);
}

::-webkit-scrollbar {
    width: 16px
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
    box-shadow: none;
    min-height: 50px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track:hover {
    border: none;
    background: none;
}

.button {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    text-decoration: none;
    text-transform: none;
}

.button.primary {
    background: var(--primary-color);
    border: 1px solid transparent;
    color: var(--text-primary);
}

.button.primary:hover {
    background: var(--primary-variant);
    box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
}

.mobile-only {
    display: block;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 8px;
}

nav a {
    color: var(--text-secondary-variant);
    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 48px;
    padding: 0 8px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

nav .mobile-only {
    display: flex;
    overflow-x: hidden;
}

nav .mobile-only a.active {
    color: #4285f4;
    border-bottom: 2px solid #4285f4;
}

nav .desktop-only {
    flex: 10 1 auto;
    justify-content: space-between;
}

nav .desktop-only a {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
}

nav .desktop-only a:hover {
    text-decoration: underline;
}

.empty {
    flex: 1 0 auto;
}

.left-nav,
.right-nav {
    height: 48px;
    padding: 0 4px;
    display: flex;
    align-items: center;
}

.menu-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.menu-icon:hover {
    background-color: rgba(60, 64, 67, .08);
}

.menu-icon img {
    height: 24px;
    width: 24px;
    margin-top: 8px;
    color: #5f6368;
    fill: currentColor;
}

.menu-icon:focus ~ .dropdown {
    visibility: visible;
}

.dropdown {
    position: absolute;
    top: 0;
    right: 0;
    width: 328px;
    height: 448px;
    max-height: calc(-57px + 100vh);
    z-index: 991;
    margin-top: 57px;
    margin-right: 4px;
    padding: 8px 0 8px 16px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    background: var(--background);
    transition: height 0.3s ease-in-out 0s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    visibility: hidden;
}

.dropdown-items {
    display: inline-block;
    position: relative;
    height: 84px;
    width: 84px;
    padding: 6px;
    vertical-align: top;
    list-style-type: none;
    transition: transform .2s cubic-bezier(.333,0,0,1);
    background-image: url(../assets/sprites.webp);
    background-size: 84px;
    background-position: 0 calc(var(--n) * -90.5px);
}

.dropdown-items:hover {
    border-radius: 8px;
    background-color: #e3edfe;
}

.desktop-only {
    display: none;
}

@media(min-width: 600px) {
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    nav .mobile-only {
        display: none;
    }

    nav .desktop-only {
        display: flex;
    }
}